@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import "./styles.scss";
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
