$Primary-Color: #0A1828;
$Text-Color: #BFA181;
$Small-Text-Color: #869BA9;
$Secondary-Color: #001F33E6;


a {
    color: turquoise;
}

body {
    background-color: $Primary-Color;
}

.movie-poster {
    height: 148.15px;
    min-width: 6em !important;
    border: solid;
    border-width: 3px;
    border-color: $Text-Color
}


.border {
    border-color: $Text-Color;
    border-width: 2px;
    background-color: $Secondary-Color;
    margin-left: 5em;
    margin-right: 5em;

    h4 {
        color: $Text-Color;
    }
    
    p {
        color: $Small-Text-Color;
    }
}

.movie-list-title {
    color: $Text-Color;
    text-align: center;

}

.welcome-message {
    color: $Text-Color;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.movie-show {
    color: $Small-Text-Color;
    display: block;
    margin-bottom: 10px;

    p {
        margin-top: 20px;
        color: $Small-Text-Color
    }

    h2 {
        color: $Text-Color;
        text-align: center;
    }

    h4 {
        color: $Text-Color;
    }

    img {
        width: 400px;
        height: 600px;
    }
}
    .content {
        margin-left: auto;
        margin-right: auto;
    }


    .movie-content {
        background-color: $Secondary-Color;
        border-width: 2em;
    }

.logo{
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
    border: solid;
    border-color: $Text-Color;
    border-width: 3px;
    
}

.authors{
    color: $Text-Color;
    text-align: center;
    padding-top: 30px ;
}

.center{
    margin-left: auto;
    margin-right:auto;
}

.nav-bar {
    background-color: gray;

    ul {
        background-color: gray;
    }
}


.cool {
    background-color: white;
    box-shadow: 10px 10px $Text-Color;
    margin-left: 650px;
    margin-right: 300px;
    margin-top: 50px;
}